延庆数校/Common/Web References/PostUserService/PostUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebServiceUser.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WebServiceUser.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebServiceUser.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FPostUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeamName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SchoolCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="DoMain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FPostUsersResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FPostUsersSoapIn">
    <wsdl:part name="parameters" element="tns:FPostUsers" />
  </wsdl:message>
  <wsdl:message name="FPostUsersSoapOut">
    <wsdl:part name="parameters" element="tns:FPostUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="PostUserSoap">
    <wsdl:operation name="FPostUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户中心数据，导入用户 , TeamName：组名，SchoolCode：学校Code, Site：SharePoint站点，DoMain：域</wsdl:documentation>
      <wsdl:input message="tns:FPostUsersSoapIn" />
      <wsdl:output message="tns:FPostUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostUserSoap" type="tns:PostUserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FPostUsers">
      <soap:operation soapAction="http://WebServiceUser.org/FPostUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostUserSoap12" type="tns:PostUserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FPostUsers">
      <soap12:operation soapAction="http://WebServiceUser.org/FPostUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostUser">
    <wsdl:port name="PostUserSoap" binding="tns:PostUserSoap">
      <soap:address location="http://117.106.7.150/PostUser.asmx" />
    </wsdl:port>
    <wsdl:port name="PostUserSoap12" binding="tns:PostUserSoap12">
      <soap12:address location="http://117.106.7.150/PostUser.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>