在线学习系统/YHSD.VocationalEducation.Portal/Web References/Notification/Notification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNotification">
        <s:complexType />
      </s:element>
      <s:element name="GetNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNotificationResult" type="tns:ArrayOfNotificationEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNotificationEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NotificationEntity" nillable="true" type="tns:NotificationEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotificationEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecivePerson" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendPerson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recivePerson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notificationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNotificationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfNotificationEntity" nillable="true" type="tns:ArrayOfNotificationEntity" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetNotification" />
  </wsdl:message>
  <wsdl:message name="GetNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNotification" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetNotificationHttpGetIn" />
  <wsdl:message name="GetNotificationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfNotificationEntity" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationHttpGetIn">
    <wsdl:part name="sendPerson" type="s:string" />
    <wsdl:part name="recivePerson" type="s:string" />
    <wsdl:part name="notificationType" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetNotificationHttpPostIn" />
  <wsdl:message name="GetNotificationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfNotificationEntity" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationHttpPostIn">
    <wsdl:part name="sendPerson" type="s:string" />
    <wsdl:part name="recivePerson" type="s:string" />
    <wsdl:part name="notificationType" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertNotificationHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="NotificationSoap">
    <wsdl:operation name="GetNotification">
      <wsdl:input message="tns:GetNotificationSoapIn" />
      <wsdl:output message="tns:GetNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <wsdl:input message="tns:InsertNotificationSoapIn" />
      <wsdl:output message="tns:InsertNotificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotificationHttpGet">
    <wsdl:operation name="GetNotification">
      <wsdl:input message="tns:GetNotificationHttpGetIn" />
      <wsdl:output message="tns:GetNotificationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <wsdl:input message="tns:InsertNotificationHttpGetIn" />
      <wsdl:output message="tns:InsertNotificationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotificationHttpPost">
    <wsdl:operation name="GetNotification">
      <wsdl:input message="tns:GetNotificationHttpPostIn" />
      <wsdl:output message="tns:GetNotificationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <wsdl:input message="tns:InsertNotificationHttpPostIn" />
      <wsdl:output message="tns:InsertNotificationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationSoap" type="tns:NotificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotification">
      <soap:operation soapAction="http://tempuri.org/GetNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <soap:operation soapAction="http://tempuri.org/InsertNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationSoap12" type="tns:NotificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotification">
      <soap12:operation soapAction="http://tempuri.org/GetNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <soap12:operation soapAction="http://tempuri.org/InsertNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationHttpGet" type="tns:NotificationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetNotification">
      <http:operation location="/GetNotification" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <http:operation location="/InsertNotification" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationHttpPost" type="tns:NotificationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetNotification">
      <http:operation location="/GetNotification" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotification">
      <http:operation location="/InsertNotification" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:port name="NotificationSoap" binding="tns:NotificationSoap">
      <soap:address location="http://61.50.119.70:1070/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationSoap12" binding="tns:NotificationSoap12">
      <soap12:address location="http://61.50.119.70:1070/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationHttpGet" binding="tns:NotificationHttpGet">
      <http:address location="http://61.50.119.70:1070/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationHttpPost" binding="tns:NotificationHttpPost">
      <http:address location="http://61.50.119.70:1070/Notification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>