用户中心/UserCenterSystem/Web References/Token/CertificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Certification.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Certification.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Certification.org/">
      <s:element name="GeneratingToken_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratingToken_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratingToken_NewResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratingToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserManager" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratingTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratingTokenResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationToken_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserManager" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationToken_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationToken_NewResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserManager" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationTokenResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneratingToken_NewSoapIn">
    <wsdl:part name="parameters" element="tns:GeneratingToken_New" />
  </wsdl:message>
  <wsdl:message name="GeneratingToken_NewSoapOut">
    <wsdl:part name="parameters" element="tns:GeneratingToken_NewResponse" />
  </wsdl:message>
  <wsdl:message name="GeneratingTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GeneratingToken" />
  </wsdl:message>
  <wsdl:message name="GeneratingTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GeneratingTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationToken_NewSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticationToken_New" />
  </wsdl:message>
  <wsdl:message name="AuthenticationToken_NewSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticationToken_NewResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="AuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="CertificationServiceSoap">
    <wsdl:operation name="GeneratingToken_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户账号、IP和时间生成加密令牌，返回XmlDocument格式Token串</wsdl:documentation>
      <wsdl:input message="tns:GeneratingToken_NewSoapIn" />
      <wsdl:output message="tns:GeneratingToken_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratingToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户账号、IP和时间生成加密令牌，返回XmlDocument格式Token串</wsdl:documentation>
      <wsdl:input message="tns:GeneratingTokenSoapIn" />
      <wsdl:output message="tns:GeneratingTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证令牌，传入令牌值，验证通过后返回用户信息，返回XmlDocument格式</wsdl:documentation>
      <wsdl:input message="tns:AuthenticationToken_NewSoapIn" />
      <wsdl:output message="tns:AuthenticationToken_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证令牌，传入令牌值，验证通过后返回用户信息，返回XmlDocument格式</wsdl:documentation>
      <wsdl:input message="tns:AuthenticationTokenSoapIn" />
      <wsdl:output message="tns:AuthenticationTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CertificationServiceSoap" type="tns:CertificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratingToken_New">
      <soap:operation soapAction="http://Certification.org/GeneratingToken_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratingToken">
      <soap:operation soapAction="http://Certification.org/GeneratingToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken_New">
      <soap:operation soapAction="http://Certification.org/AuthenticationToken_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken">
      <soap:operation soapAction="http://Certification.org/AuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CertificationServiceSoap12" type="tns:CertificationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratingToken_New">
      <soap12:operation soapAction="http://Certification.org/GeneratingToken_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratingToken">
      <soap12:operation soapAction="http://Certification.org/GeneratingToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken_New">
      <soap12:operation soapAction="http://Certification.org/AuthenticationToken_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationToken">
      <soap12:operation soapAction="http://Certification.org/AuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificationService">
    <wsdl:port name="CertificationServiceSoap" binding="tns:CertificationServiceSoap">
      <soap:address location="http://192.168.1.66/CertificationService.asmx" />
    </wsdl:port>
    <wsdl:port name="CertificationServiceSoap12" binding="tns:CertificationServiceSoap12">
      <soap12:address location="http://192.168.1.66/CertificationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>